body {
	background: url("../images/fresh_snow_@2X.png");
}


.row {
	margin-bottom: 10px;
}

.randomNumberDiv {
	background-color: rgb(144, 238, 222);
	border: 2px solid black;
}

.winsLossesDiv {
	background-color: rgb(114, 187, 214);
	border: 2px solid black;
}

.scoreDiv {
	background-color: rgb(236, 255, 192);
	border: 2px solid black;
}